<?php

declare(strict_types=1);

/**
 * Plugin Name: {{title}}
 * Plugin Uri:
 * Author: {{author}}
 * Author URI:
 * Description: {{description}}
 * Version: 0.1.0
 * Requires at least: {{wordpressVersion}}
 * Tested up to: {{wordpressVersion}}
 * Requires PHP: {{phpVersion}}
 * License: GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Update URI:
 * Text Domain: {{slug}}
 * Requires Plugins:
 */

namespace {{phpNamespace}};

use {{phpNamespace}}\Core\Container;
use {{phpNamespace}}\Core\Plugin;
use {{phpNamespace}}\Core\Config;

defined('ABSPATH') || exit;

// Require autoloader
require_once __DIR__ . '/vendor/autoload.php';

/*
 * Initialize the config information.
 *
 * @since 0.1.0
 */
Config::init(
    get_file_data(__FILE__, ['Version' => 'Version'])['Version'] ?: '0.1.0',
    __DIR__,
    __FILE__,
    '{{title}}',
    '{{prefix}}',
    '{{slug}}',
);

/**
 * Get the instance.
 *
 * If there is no running instance then initialize and assign it to the $instance.
 *
 * @since 0.1.0
 */
function get_plugin(): Plugin {
    static $instance = null;

    if (!$instance) {
        // Setup dependencies
        $container = new Container();

        // Create the instance
        $instance = new Plugin($container);
        $instance->init();
    }

    return $instance;
}

// Start the plugin
$plugin = get_plugin();
